.gw-card-frame {
    position: relative;
    width: 100%;
    background: #ae1501;
    padding: 15px 20px;
    box-shadow: -4px 2px 11px #010b13;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.gw-card-tradebar {
    position: relative;
    width: 100%;
    background: #ae1501;
    padding: 15px 20px;
    box-shadow: -4px 2px 11px #010b13;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}